<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>about</title>
    {% load static %}
    <link rel="icon" href="{% static 'about.png' %}">
</head>
<body>
<h1>About Page</h1>
   <style>
        table,td,th{
            border: 2px solid #ffffff;
            border-collapse: initial;
        }
        table{
            width: 80%;
            height: 450px;
            margin-left: 100px;
            margin-top: 40px;
        }
        td{
            padding-left:70px ;
        }
        table{
            background-color: #e9fb98;
        }
    </style>
</head>
<body/>
<table>
   <caption>    <b><U>BUSSINESS RECORDS</U></b></caption>
    <tr bgcolor="#7cfc00">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
      
    </tr>
    <tr>
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
        
    </tr>
    <tr>
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
       
    </tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
        
    <tr>
        <td>4</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
        
    </tr>
    <tr>
        <td>4</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>

</table>

</body>
</html>